<div id="popup" style="display: none; position: fixed; bottom: 20px; right: 20px; background-color: white; padding: 10px; border: 1px solid #ccc;">
  <a href="#" target="_self">
    <div style="display: flex; align-items: center;">
      <img src="http://via.placeholder.com/130x100" style="width: 130px; height: 100px; margin: 0;">
      <div style="width: calc(100% - 130px);">
        <button id="close-button" style="float: right; padding: 0; border: none; background-color: transparent; font-size: 16px; position: absolute; top: 2; right: 2;">&times;</button>
        <div class="popup-text" style="margin-top: -44px;">This is a JavaScript popup.</div>
      </div>
    </div>
  </a>
</div>

<style>
.popup-text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: left;
  padding-left: 10px;
}
</style>

<a href="http://ads.curiouspenguins.com" target="_blank" id="ads" style="position: fixed; bottom: 20px; right: 20px; color: lightgrey; font-size: 10px; padding: 5px;">Your Ad Here</a>

<script>
const popup = document.getElementById("popup");
const closeButton = document.getElementById("close-button");
const ads = document.getElementById("ads");

popup.style.display = "block";
closeButton.addEventListener("click", () => {
  popup.style.display = "none";
  ads.style.display = "none";
});
</script>

<style>
@media only screen and (max-width: 767px) {
  #popup {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }
}

@media only screen and (min-width: 768px) {
  #popup div {
    min-width: 140px;
  }
}

</style>
